streamlit==1.39.0
sentence-transformers==3.1.1
opensearch-py==2.7.1
pypdf==5.1.0
torch==2.4.1
numpy==1.26.4
requests==2.32.3
ollama==0.3.3
openai==1.57.0
langchain==0.3.9
langchain_ollama
langchain_openai==0.2.8
chromadb
faiss-cpu==1.7.3
ragas==0.2.8
seaborn
matplotlib